@font-face {
    font-family: PirataOne-Regular;
    src: url("../fonts/PirataOne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(229, 229, 229);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}



body {
    background-color: black;
    position: relative;
    flex-direction: column;
    min-height: 680px;
    padding-bottom: 100px;

}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/background_curved_lines.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.3;
    z-index: -1;
}



/* NAV */
header nav {
    border-bottom: 3px solid rgb(229, 229, 229);
}


header nav ul li {


    margin-top: 0.5em;
    margin-bottom: 0.25em;
    margin-right: 0.5em;
}

.nav-link {
    display: inline-block;
    width: 120px;
    border: 3px solid #ff000000;
    text-align: end;
    padding-right: 10px;
    border-radius: 10px;
    text-align: end;
}

.nav-link:hover {
    border: 3px solid rgb(229, 229, 229);
}


.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

#nav_name {
    font-family: PirataOne-Regular;
    letter-spacing: 2px;
    font-size: 2rem;
}

.active-page {
    color: rgb(170, 175, 255);

}


/* home__descripcion__personal */

.personal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 15%;
    box-sizing: border-box;
}

.personal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.personal-image-container,
#personal_image_description {
    flex: 1;
}

#personal_image_description {
    padding: 60px;
    background-color: rgba(240, 248, 255, 0.045);
    font-size: 1.15em;
    flex: 1;
    margin-right: 5%;
    margin-left: 5%;
}

#personal_name {
    font-family: PirataOne-Regular;
    letter-spacing: 2px;
    font-size: 5rem;
}

#imagen_personal {
    border: 5px solid rgb(229, 229, 229);
    border-radius: 10px;
    max-width: 450px;
    height: auto;
    padding: 40px;
}

blockquote {
    font-size: 1.25rem;
}







/* about-me __ home */

#about_me {
    padding: 20px;
}

#about_me_title h2 {
    margin-bottom: 40px;
    font-size: 3.5em;
    text-transform: uppercase;
}

.container-about-me {
    max-width: 900px;
    margin: 0 auto;
}

.container-about-me p {
    margin-bottom: 10%;
    text-align: justify;
    font-size: 1.25em;
    margin-left: 60px;
    margin-right: 60px;
}

.center-title {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}










/* portfolio__CARDS */

.main_portfolio .center-title-portfolio {
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2em;
    font-size: 5rem;
    font-family: PirataOne-Regular;
}



.img-card-portfolio {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

.img-card-portfolio:hover {
    filter: grayscale(90%);
    transition: all 0.1s ease-in-out;
}

.container-card-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 5px solid rgb(229, 229, 229);
    border-radius: 10px;
    margin: auto;
}

#card-avant {
    min-width: 40%;
}

.section_portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5%;
    padding: 30px;
}

.container-card-portfolio>h5,
.container-card-portfolio>div {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.container-card-portfolio>h5 {
    margin: 50px;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
}

.container-card-portfolio>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-portfolio-links a {
    margin-right: 50px;
}

.card-portfolio-links a:last-child {
    margin-right: 0;
}

.card-portfolio-links {
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-portfolio-links a {
    color: rgb(229, 229, 229);
    border: 3px solid rgb(229, 229, 229);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.card-portfolio-links a:hover {
    color: black;
    background-color: rgb(229, 229, 229);
}

#spotify {
    text-decoration: none;
    color: rgb(229, 229, 229);

}



/* cards-produccion-audiovisual */

.h5-card-portfolio {
    font-size: 1.75em;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.descripcion-card {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: lighter;
    font-style: italic;
}



/* CV */

/* download */

.cv_download_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 7em;
    margin-bottom: 8em;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;

}

#download_cv a {
    color: rgb(229, 229, 229);
    border: 3px solid rgb(229, 229, 229);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.5em;

}

#download_cv a:hover {
    color: black;
    background-color: rgb(229, 229, 229);
}

#download_cv_description p {
    margin-top: 15px;
    font-size: 16px;
    color: rgba(229, 229, 229, 0.761);
    margin-top: 2em;
    font-style: italic;
    font-weight: lighter;

}






/* EXPERIENCIA */

.professional_experience_section,
.education_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.professional_experience_section article,
.education_section article {
    margin-bottom: 10rem;
    /* Espaciado entre los artículos */
    width: 100%;
    max-width: 90%;
    /* Ancho máximo relativo para mejorar el centrado */
    text-align: left;
}

.professional_experience_section ul,
.education_section ul {
    margin-top: 2rem;
    margin-top: 2rem;
    list-style: none;
}

.professional_experience_section ul li,
.education_section ul li {
    display: flex;
    align-items: center;
    /* Alinea la imagen y el texto en la misma línea */
    margin-bottom: 1rem;
    /* Espaciado entre los elementos de la lista */
    font-size: 1rem;
    /* Tamaño del texto */
    font-weight: lighter;
}

.professional_experience_section ul li img,
.education_section ul li img {
    width: 1.25rem;
    height: auto;
    margin-right: 0.5rem;
}

.cv_section_title_h2 {
    font-family: PirataOne-Regular;
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: 5rem;
    /* Margen inferior */
    text-align: center;
}

.professional_experience_section h4,
.education_section h4 {
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
    font-weight: bolder;
}

.professional_experience_section ul li a,
.education_section ul li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.professional_experience_section ul li a:hover,
.education_section ul li a:hover {
    color: #0056b3;
}



.professional_experience_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los ítems en el contenedor */
}

.professional_experience_article ul {
    list-style-type: none;
    /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.professional_experience_article ul li {
    margin: 5px 0;
    /* Espacio entre los ítems */
}





/* SERVICES */

.services_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    /* Para centrar verticalmente, ocupa toda la altura de la pantalla */
}

.services_description {
    max-width: 60%;
    /* Ancho máximo relativo para controlar la extensión del texto */
    margin-bottom: 6rem;
    /* Espaciado entre la descripción y el botón */
    font-size: 1.5rem;
    /* Tamaño relativo del texto */
}

.services_p {
    font-size: 1.5rem;
    font-style: italic;
}

.services_description p {
    line-height: 1.3;
    margin-bottom: 2em;

}

.services_button a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    /* Tamaño del botón */
    border: 3px solid rgb(229, 229, 229);
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transiciones suaves */
    border-radius: 10px;
    text-decoration: none;
    /* Sin subrayado */
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(229, 229, 229);
}

.services_button a:hover {
    background-color: rgb(229, 229, 229);
    color: #000;
    /* Asegura que el texto siga siendo negro */
}

#p_highlight {
    font-weight: bolder;

}










/* CONTACT */

/* Main contact section */
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.center-title {
    font-family: PirataOne-Regular;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

/* Form styles */
.form {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {

    margin: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid rgb(229, 229, 229);
    border-radius: 0;
    background-color: transparent;
}

.form-control::placeholder {
    color: rgb(229, 229, 229);
}

/* Form buttons */
.form-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.form-buttons-inner {

    display: flex;
    justify-content: center;
    flex-grow: 1;
}

button {
    /* margin-top: 3rem; */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    /* Tamaño del botón */
    border: 3px solid rgb(229, 229, 229);
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transiciones suaves */
    border-radius: 10px;
}

button:hover {
    background-color: rgb(229, 229, 229);
    color: #000;
    /* Asegura que el texto siga siendo negro */
}

/* Icons section */
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 3rem;
}

.icon-inner {
    margin: 0 1rem;
}

.icon-inner a {
    color: #fff;
    transition: color 0.3s ease;
}

.icon-inner a:hover {
    color: #000;
}








/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -200px;
    width: 100%;
    margin-top: 100px;
}


footer div,
footer ul {
    margin: 10px 0;
}

footer ul {
    list-style-type: none;
}





/* media queries */

@media (max-width: 375px) {
    header {
        position: static;
    }

    body {
        padding-top: 0px !important;
    }

    #imagen_personal {
        margin-top: -100px;
        margin-bottom: 100px;

    }
}


@media (max-width: 480px) {
    #imagen_personal {
        border: none;
        height: 400px;
    }

    .container-card-portfolio {
        border: none;
        background-color: rgba(229, 229, 229, 0.1);

    }

    .section_portfolio {
        margin-bottom: 200px;
    }
}

@media (max-width: 768px) {

    .personal-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
  
}

@media (max-width: 1200px) {
    .personal-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        /* margin-top: 200px; */
        margin-bottom: 200px;
    }

    .personal-image-container,
    #personal_image_description {
        width: 100%;
        text-align: center;
        margin-top: 80px;
    }

    blockquote {
        width: 80%;
        margin: 15px auto;
    }
}



/* about-me */

@media (max-width: 768px) {
    #about_me {
        padding: 10px;
    }

    .container-about-me p {
        font-size: 1.15em;
        margin-bottom: 10%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Portfolio QUERYS*/

@media (max-width: 1023px) {
    .section_portfolio {
        grid-template-columns: 1fr;
    }

    .container-card-portfolio {
        max-width: 85%;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;

    }
}